commands:
  command block:
    command: |
      sudo mkdir /ffmpeginstall
      cd /ffmpeginstall
      sudo wget https://johnvansickle.com/ffmpeg/old-releases/ffmpeg-3.3.4-64bit-static.tar.xz
      sudo wget https://johnvansickle.com/ffmpeg/old-releases/ffmpeg-3.3.4-64bit-static.tar.xz.md5
      sudo tar xvf ffmpeg-3.3.4-64bit-static.tar.xz
      cd ffmpeg-3.3.4-64bit-static
      sudo mv ffmpeg ffprobe /usr/local/bin/
      echo "Finished Installing FFMPEG"