{% extends 'beats/base.html' %}
{% block title %}Password Reset forum{% endblock %}
{% block content %}
<div class="wrap">
<div class="row">
 <aside class="col-sm-4">
 </aside> <!-- col.// -->
 <aside class="col-sm-4">
 <h2 class="text-white font-weight-bold">Forget Password</h2>
 <br>
 <div class="card">
 <article class="card-body">
 <form method="post">
 {% csrf_token %}
 {% for field in form %}
 <p>
 {{ field.label_tag }}<br>
 {{ field }}
 {% for error in field.errors %}
 <p style="color: red">{{ error }}</p>
 {% endfor %}
 </p>
 {% endfor %}
 <button type="submit" class="btn btn-lg btn-primary">Submit</button>
 </form>
 </article>
 </div>
 </aside>
 <aside class="col-sm-4">
 </aside> <!-- col.// -->
</div>
</div>
{% endblock %}