{% extends 'beats/base.html' %}
{% block content %}
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="text-center border border-light p-5 rounded formColour">
                    <p>
                            We've emailed you instructions for setting your password, if an account exists with the email you entered.
                            You should receive them shortly.
                            </p>
                            <hr class="divider my-4">
                            <p>
                            If you don't receive an email, please make sure you've entered the address you registered with,
                            and check your spam folder.
                            </p>
                            <br>
                            <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'home' %}">Home</a>
                        </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}